### .env (example file) ###
APP_ENV=dev
APP_SECRET=
DEFAULT_URI=https://gms.wip
DATABASE_URL="mysql://root:password@127.0.0.1:3306/gym_management_system?serverVersion=8.0.33&charset=utf8mb4"
MESSENGER_TRANSPORT_DSN=doctrine://default?auto_setup=0
MAILER_DSN=null://null
