{% extends "base.html.twig" %}

{# Title #}
{% block title %}Schedule{% endblock %}

{# Content #}
{% block content %}
	<h1 class="heading main-heading heading-schedule">Schedule</h1>
	<div id="schedule" class="schedule"></div>
{% endblock %}

