<footer id="site-footer" class="site-footer">
	<div class="contained">
		<div class="footer-title">
			<a href="{{ path('dashboard_index') }}" class="footer-title__link">GMS</a>
		</div>
		<div class="copyright">
			<p class="copyright__text">
				&copy;
				{{ "now"|date("Y") }}
				GMS. All rights reserved.
			</p>
		</div>
	</div>
</footer>
