<header id="site-header" class="site-header">
	<div class="contained">
		<div class="header-title">
			<a href="{{ path('dashboard_index') }}" class="header-title__link">Home</a>
		</div>
		<div class="navigation">
			<ul class="list navigation__list">
				<li class="navigation__item">
					<a href="#logout" class="navigation__link">Logout</a>
				</li>
			</ul>
		</div>
	</div>
</header>
