<header id="site-header" class="site-header">
	<div class="contained">
		<div class="header-title">
			<a href="{{ path('dashboard_index') }}" class="header-title__link">Home</a>
		</div>
		<div class="navigation">
			<ul class="list navigation__list">
				{% if app.user %}
					<li class="navigation__item">
						<a href="{{ path('app_logout') }}" class="navigation__link">Logout</a>
					</li>
				{% else %}
					<li class="navigation__item">
						<a href="{{ path('app_login') }}" class="navigation__link">Login</a>
					</li>
				{% endif %}
			</ul>
		</div>
	</div>
</header>
