<aside id="site-sidebar" class="site-sidebar small-column">
	<p class="paragraph site-sidebar__heading">GMS</p>
	<ul class="menu-list secondary">
		<li class="menu-list__item">
			<a href="{{ path('dashboard_index') }}" class="menu-list__link">Dashboard</a>
		</li>
		<li class="menu-list__item">
			<a href="{{ path('schedule_index') }}" class="menu-list__link">Schedule</a>
		</li>
	</ul>
	<ul class="menu-list primary">
		<li class="menu-list__item">
			<a href="{{ path('member_index') }}" class="menu-list__link">Members</a>
		</li>
		<li class="menu-list__item">
			<a href="#plans" class="menu-list__link">Plans</a>
		</li>
		<li class="menu-list__item">
			<a href="#groups" class="menu-list__link">Groups</a>
		</li>
		<li class="menu-list__item">
			<a href="{{ path('team_member_index') }}" class="menu-list__link">Team</a>
		</li>
	</ul>
	<ul class="menu-list secondary">
		<li class="menu-list__item">
			<a href="#settings" class="menu-list__link">Settings</a>
		</li>
		<li class="menu-list__item">
			<a href="#help" class="menu-list__link">Help</a>
		</li>
	</ul>
</aside>
