{% extends "base.html.twig" %}

{# Title #}
{% block title %}Dashboard{% endblock %}

{# Content #}
{% block content %}
	<h1 class="heading heading-dashboard">Dashboard</h1>
	<div id="dashboard" class="dashboard"></div>
{% endblock %}

